body {
    display: flex;
    justify-content: center;
    background:rgb(248, 253, 182)
}

.search {
    width:100%;
    padding:10px;
    text-transform: capitalize;
    font-weight: 700;
}
::placeholder {
    text-transform: lowercase;
}

.suggestions {
    margin-left:20px;
    margin-top:20px;
}
li {
    list-style: none;
}

.hl {
    background-color: yellow;
    text-transform: capitalize;
}
